html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'DM Sans', 'Segoe UI';
  text-align: center;
  scroll-behavior: smooth;
  background-color: #1E2124;
}

.card {
  width: 100;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 75px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 25px;
  background-image: url('images/windy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul li a {
  padding: 0;
  color: white;
  text-decoration: none;
}

.no-bullets {
  list-style: none;
}

.horizontal-links {
  display: flex;
  margin-left: 5vw;
}

.horizontal-links li {
  margin-right: 60px;
  margin-left: -30px;
}

.list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
}

.name {
  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-bar {
  background-color: #282B30;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  margin-top: 0;
}

.content {
  padding-bottom: 19px;
}